.note{
    background-color: #FFE996;
    border-radius:10px;
    width:250px;
    max-width:300px;
    height:fit-content;
    margin:5px;
    transition: .5s;
}
.note:hover{
    cursor:pointer;
}
.noteOpen{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    top:40vh;
    left: 0;
    right: 0;
    transform:scale(2);
    border-radius:2px;
    cursor:initial;
}
.noteOpen .description{
    overflow:hidden;
    font-size:15px;
}
.title{
    position: relative;
    background-color: #FFE996;
    padding:10px;
    min-height:20px;
    border-radius:5px 5px 0px 0px ;
    font-weight: bold; 
}
.description{
    height:150px;
    max-height: 180px;
    background-color: #FDF0BF;
    border-radius:0 0px 5px 5px ; 
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.64);
}
.pd{
    padding:10px;
    overflow-wrap: break-word;
}
.closeBtn{
    position: absolute;
    right:15px;
}
.closeBtn:hover{
    cursor:pointer
}

.titleField,.descriptionField:focus{
    outline:0;
}
.titleField{
    border:none;
    border-bottom:1px solid rgba(128, 128, 128, 0.205);
    background:#FFE996;
    font-size:15px;
    font-family: monospace;
}
.descriptionField{
    width:100% ;
    height:100% ;
    margin:0 !important;
    font-size:12px !important;
    background-color: #FDF0BF;
    border:none;
    padding:10px;
}